*,
*::after,
*::before {
    box-sizing: border-box;
}

a {
    text-decoration: none;
}

:root {
    --header-height: 4rem;
    --color-blue: #61A8E3;
    --border: 1px solid black;
    --font-main: 'Righteous', cursive;
}

.contenedor {
    min-height: 100%;
    width: 100%;
    position: relative;
    display: block;
    top: 8rem;
    z-index: 10;
  
}

.welcome {
    display: grid;
    font-family: 'Righteous';
    top: 3rem;
}

.contClock,
.welcomeText {
    color: #ffff;
    display: flex;
    justify-content: center;
}

.welcomeText {
    font-size: 2rem;
}

.clock {
    font-size: 7em;
    display: inline-block;
    margin: 0;
}

.google {
    background-color: white;
    padding: 15px;
    border-radius: 15px;
    margin-right: 20%;
    margin-left: 20%;
    visibility:visible;
    opacity:1;
    transition:visibility 0.3s linear,opacity 0.3s linear;
}

.header {
    background-color: hsla(0, 0%, 100%, 50%);
    margin-bottom: 2rem;
    height: var(--header-height);
    width: 100%;
    position: fixed;
    z-index: 20;

}

.logo {
    float: left;
    padding-top: 0;
    padding-left: 15px;
    font-family: 'Righteous', cursive;
    color: rgba(255, 255, 255, 0.938);
    font-size: 60px;
}

.nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.nav li {
    float: right;
}

.nav li a {
    display: block;
    position: relative;
    left: 10px;
    text-align: center;
    padding: 16px;
    text-decoration: none;
    color: rgba(255, 255, 255, 0.938);
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-weight: bold;
    margin-top: 5px;
}

.login {
    position: relative;
    left: 30%;
    top: 6rem;
    width: 50%;
    max-width: 500px;
    background-color: hsl(0, 0%, 100%);
    padding: 30px;
    border-radius: 5px;
}

.login>h2 {
    text-align: center;
    color: var(--color-blue);
    font-family: var(--font-main);
}

.btn-login {
    display: block;
    width: 100%;
    padding: 10px;
    margin: 30px 0;
    font-size: 20px;
}

.login>input[type="submit"] {
    background-color: var(--color-blue);
    color: hsl(0, 0%, 100%);
    opacity: 0.8;
    transition: 1s;
    border-style: none;
    border-radius: 5px;
}

input[type="submit"]:hover {
    opacity: 1;
}

.search {
    background-color: white;
    position: absolute;
    height: 80px;
    top: 70%;
    padding: 20px;
    width: 60%;
    border-radius: 15px;
    margin-right: 20%;
    margin-left: 20%;
    opacity: 0;
    visibility: hidden;
    transition:visibility 0.3s linear,opacity 0.3s linear;
}
.search>input{
    position: absolute;
    top: 30px;
}
.search>input[type="text"] {
    top: 7px;
    width: 65%;
    height: 60px;
    border: 0;
}

.search>input[type="submit"] {
    display: block;
    background: red;
    left: 90%;
    width: 60px;
    border: 0;
    background-color: var(--color-blue);
}

/* The switch - the box around the slider */
.switch {
    position: absolute;
    width: 60px;
    height: 34px;
    left: 15%;
    top: 65%;
  }
  .switch-2 {
    position: absolute;
    width: 60px;
    height: 34px;
    left: 15%;
    top: 85%;
  }
 
  /* Hide default HTML checkbox */
  .switch input, .switch-2 input {
    opacity: 0;
    width: 0;
    height: 0;
  }
  
  /* The slider */
  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
  }
  
  input:checked + .slider {
    background-color: #2196F3;
  }
  
  input:focus + .slider {
    box-shadow: 0 0 1px #2196F3;
  }
  
  input:checked + .slider:before {
    -webkit-transform: translateX(26px);
    -ms-transform: translateX(26px);
    transform: translateX(26px);
  }
  
  /* Rounded sliders */
  .slider.round {
    border-radius: 34px;
  }
  
  .slider.round:before {
    border-radius: 50%;
  }
.myVideo{
    position: fixed;
    opacity: 0;
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;
    transition: opacity 1s;
}

body {
    background-image: url(img/34.\ Mauve.png);
    object-fit: cover;
    background-size: cover;
    height: 100%;
    width: 100%;
    min-width: 100vh;
    margin-bottom: 0;
}